/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
:root {
  --color-secondary-color: #0084fd;
  --color-dark-color: #333333;
  --color-light-color: #ffffff;
  --color-primary-color: #9792e4;
  --color-bg-card: #b5ddff;
  --color-contrast-color: #fcc060;
  --color-text: #424242;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.debug {
  border: 1px solid black;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.img-fluid {
  width: 100%;
  display: block;
}
.px-10 {
  padding: 0 10px;
}
.py-10 {
  padding: 10px 0;
}
.py-20 {
  padding: 20px 0;
}

/* FLEX */
.d-flex {
  display: flex;
  flex-flow: row wrap;
}
.sp-between {
  justify-content: space-between;
}
.vertical-center {
  align-items: center;
  align-content: center;
}

/* HEADER */
header {
  padding: 10px;
  background-color: var(--color-secondary-color);
  margin-bottom: 20px;
}
#logo,
#navbar {
  color: var(--color-light-color);
}
#navbar i {
  font-size: 1.5em;
}

/* MAIN */
.col {
  padding: 20px;
}

/* #FIRST */
#first {
  margin-bottom: 50px;
  background-color: var(--color-light-color);
}
#first .card {
  padding: 10px;
  background-color: var(--color-bg-card);
  border-radius: 20px;
  line-height: 2;
  font-weight: 600;
  text-align: center;
}
#first .card-img {
  position: relative;
  top: 10px;
}
.banger {
  font-size: 6em;
  color: var(--color-secondary-color);
}

/* #SECOND */
#second {
  background-color: var(--color-primary-color);
  line-height: 2;
  font-weight: 600;
}
#second .img-fluid {
  padding: 25px 50px;
}
#second .card {
  padding: 25px 15px;
  border-radius: 55px;
  background-color: var(--color-light-color);
  text-align: center;
}
#second .card p {
  font-style: italic;
  font-size: 1.2em;
  font-weight: 500;
}
/* FOOTER */

/* MEDIA QUERY */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
